# Next.js build output
.next/
out/
build/
dist/

# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
